<!DOCTYPE html>
<html lang="en">

 
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, shrink-to-fit=9">
<meta name="description" content="Grocery 360">
<meta name="author" content="Grocery 360">
<title> Grocery 360 </title>

<link rel="icon" type="image/png" href="images/fav.png">

 
<link href='vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
 

<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
<link href="vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="vendor/semantic/semantic.min.css">
</head>
<body>
 
 
<div class="bs-canvas bs-canvas-left position-fixed bg-cart h-100">
<div class="bs-canvas-header side-cart-header p-3 ">
<div class="d-inline-block  main-cart-title">My Cart <span>(2 Items)</span></div>
<button type="button" class="bs-canvas-close close" aria-label="Close"><i class="uil uil-multiply"></i></button>
</div>
<div class="bs-canvas-body">
<div class="cart-top-total">
<div class="cart-total-dil">
<h4>Grocery 360 </h4>
<span>Inr 34</span>
</div>
<div class="cart-total-dil pt-2">
<h4>Delivery Charges</h4>
<span>Inr 1</span>
</div>
</div>
<div class="side-cart-items">
<div class="cart-item">
<div class="cart-product-img">
<img src="images/product/img-1.jpg" alt="">
<div class="offer-badge">6% OFF</div>
</div>
<div class="cart-text">
<h4>Grocery</h4>
<div class="cart-radio">
<ul class="kggrm-now">
<li>
<input type="radio" id="a1" name="cart1">
<label for="a1">0.50</label>
</li>
<li>
<input type="radio" id="a2" name="cart1">
<label for="a2">1kg</label>
</li>
<li>
<input type="radio" id="a3" name="cart1">
<label for="a3">2kg</label>
</li>
<li>
<input type="radio" id="a4" name="cart1">
<label for="a4">3kg</label>
</li>
</ul>
</div>
<div class="qty-group">
<div class="quantity buttons_added">
<input type="button" value="-" class="minus minus-btn">
<input type="number" step="1" name="quantity" value="1" class="input-text qty text">
<input type="button" value="+" class="plus plus-btn">
</div>
<div class="cart-item-price">Inr 10 <span>Inr 15</span></div>
</div>
<button type="button" class="cart-close-btn"><i class="uil uil-multiply"></i></button>
</div>
</div>
<div class="cart-item">
<div class="cart-product-img">
<img src="images/product/img-2.jpg" alt="">
<div class="offer-badge">6% OFF</div>
</div>
<div class="cart-text">
<h4>Grocery</h4>
<div class="cart-radio">
<ul class="kggrm-now">
<li>
<input type="radio" id="a5" name="cart2">
<label for="a5">0.50</label>
</li>
<li>
<input type="radio" id="a6" name="cart2">
<label for="a6">1kg</label>
</li>
<li>
<input type="radio" id="a7" name="cart2">
<label for="a7">2kg</label>
</li>
</ul>
</div>
<div class="qty-group">
<div class="quantity buttons_added">
<input type="button" value="-" class="minus minus-btn">
<input type="number" step="1" name="quantity" value="1" class="input-text qty text">
<input type="button" value="+" class="plus plus-btn">
</div>
<div class="cart-item-price">Inr 24 <span>Inr 30</span></div>
</div>
<button type="button" class="cart-close-btn"><i class="uil uil-multiply"></i></button>
</div>
</div>
</div>
</div>
<div class="bs-canvas-footer">
<div class="cart-total-dil saving-total ">
<h4>Total Saving</h4>
<span>Inr 11</span>
</div>
<div class="main-total-cart">
<h2>Total</h2>
<span>Inr 35</span>
</div>
<div class="checkout-cart">
<a href="#" class="promo-code">Have a promocode?</a>
<a href="#" class="cart-checkout-btn hover-btn">Proceed to Checkout</a>
</div>
</div>
</div>


<header class="header clearfix">
<div class="top-header-group">
<div class="top-header">
<div class="res_main_logo">
<a href="index.html"><img src="images/logo.png" alt=""></a>
</div>
<div class="main_logo" id="logo">
<a href="index.html"><img src="images/logo.png" alt=""></a>
<a href="index.html"><img class="logo-inverse" src="images/logo.png" alt=""></a>
</div>
<div class="select_location">
<div class="ui inline dropdown loc-title">
<div class="text">
<i class="uil uil-location-point"></i>
Haryana
</div>
<i class="uil uil-angle-down icon__14"></i>
<div class="menu dropdown_loc">
<div class="item channel_item">
<i class="uil uil-location-point"></i>
Haryana
</div>
<div class="item channel_item">
<i class="uil uil-location-point"></i>
Mombasa
</div>
<div class="item channel_item">
<i class="uil uil-location-point"></i>
Kisumu
</div>
<div class="item channel_item">
<i class="uil uil-location-point"></i>
Nakuru
</div>
<div class="item channel_item">
<i class="uil uil-location-point"></i>
Eldoret
</div>
<div class="item channel_item">
<i class="uil uil-location-point"></i>
Malindi
</div>
<div class="item channel_item">
<i class="uil uil-location-point"></i>
Ludhiana
</div>
<div class="item channel_item">
<i class="uil uil-location-point"></i>
Chandigrah
</div>
</div>
</div>
</div>
<div class="search120">
<div class="ui search">
<div class="ui left icon input swdh10">
<input class="prompt srch10" type="text" placeholder="Search for products..">
<i class='uil uil-search-alt icon icon1'></i>
</div>
</div>
</div>
<div class="header_right">
<ul> 
<li>
<a href="login.html" class="option_links toplogreg" title="Wishlist"><i class='fa fa-sign-in'></i> Login </a>
</li>

<li>
<a href="register.html" class="option_links toplogreg" title="Wishlist"><i class='fa fa-user'></i> Register </a>
</li>
 
</ul>
</div>
</div>
</div>
<div class="sub-header-group">
<div class="sub-header">
 
 
 <div class="navcatslide">
					<div class="hidden-xs">
						<div id="wr-menu">
							<button class="btn-block text-left" type="button" data-target="#all-menu" data-toggle="collapse"> <i class="fa fa-bars"></i> <span class="cate">Categories</span> </button>
						</div>
						<div id="all-menu" class="collapse show">
							<nav id="menu" class="navbar">
								<div class="navbar-header tonizz"><span id="category" class="visible-xs">Categories</span>
									<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
								</div>
								<div class=" navbar-toggle collapse navbar-collapse navbar-ex1-collapse">
									<ul class="nav navgondop">
										<li class="dropdown moremenu">
											<a href="#" class="dropdown-toggle header-menu" data-toggle="dropdown">
												<div class="menu-img pull-left"> <img src="images/product/img-11.jpg" alt="Flours"> </div>	Fruits<i class="fa fa-angle-down pull-right enangle"></i></a>
											<div class="dropdown-menu">
												<div class="dropdown-inner">
													<ul class="list-unstyled">
														<!--3rd level-->
														<li class="dropdown-submenu"> <a href="#" class="submenu-title"> Glass Cleaner (7) </a> </li>
														<!--3rd level over-->
													</ul>
												</div>
												</div>
										</li>
										<li class="moremenu">
											<a href="#">
												<div class="menu-img pull-left"> <img src="images/product/img-11.jpg" alt="Snacks"> </div>  Vegetables </a>
										</li>
										<li class="dropdown moremenu">
											<a href="#" class="dropdown-toggle header-menu" data-toggle="dropdown">
												<div class="menu-img pull-left"> <img src="images/product/img-6.jpg" alt="Masala Mix"> </div>Masala Mix<i class="fa fa-angle-down pull-right enangle"></i></a>
											<div class="dropdown-menu">
												<div class="dropdown-inner">
													<ul class="list-unstyled">
														<!--3rd level-->
														<li class="dropdown-submenu"> <a href="#" class="submenu-title"> Fresh Fruits (7) </a> </li>
														<!--3rd level over-->
														<!--3rd level-->
														<li class="dropdown-submenu"> <a href="#" class="submenu-title"> Mac (7) </a> </li>
														<!--3rd level over-->
													</ul>
												</div>
												</div>
										</li>
										<li class="dropdown moremenu">
											<a href="#" class="dropdown-toggle header-menu" data-toggle="dropdown">
												<div class="menu-img pull-left"> <img src="images/product/img-1.jpg" alt="Bakery Mix"> </div>Bakery Mix<i class="fa fa-angle-down pull-right enangle"></i></a>
											<div class="dropdown-menu">
												<div class="dropdown-inner">
													<ul class="list-unstyled">
														<!--3rd level-->
														<li class="dropdown-submenu"> <a href="#" class="submenu-title"> Macs (7) </a> </li>
														<!--3rd level over-->
														<!--3rd level-->
														<li class="dropdown-submenu"> <a href="#" class="submenu-title"> Windows (0) </a> </li>
														<!--3rd level over-->
													</ul>
												</div>
												</div>
										</li>
										<li class="dropdown moremenu">
											<a href="#" class="dropdown-toggle header-menu" data-toggle="dropdown">
												<div class="menu-img pull-left"> <img src="images/product/img-5.jpg" alt="Baby Care"> </div> Meat <i class="fa fa-angle-down pull-right enangle"></i></a>
											<div class="dropdown-menu">
												<div class="dropdown-inner">
													<ul class="list-unstyled">
														<!--3rd level-->
														<li class="dropdown-submenu"> <a href="#" class="submenu-title"> Mice and Trackballs (0) </a> </li>
														<!--3rd level over-->
														<!--3rd level-->
														<li class="dropdown-submenu"> <a href="#" class="submenu-title"> Printers (0) </a> </li>
														<!--3rd level over-->
														<!--3rd level-->
														<li class="dropdown-submenu"> <a href="#" class="submenu-title"> Scanners (0) </a> </li>
														<!--3rd level over-->
														<!--3rd level-->
														<li class="dropdown-submenu"> <a href="#" class="submenu-title"> Vegetable (9) </a>
															<ul class="list-unstyled grand-child">
																<li><a href="#"> Fruits &amp; Vegetables (8) </a> </li>
																<li><a href="#"> test 2 (0) </a> </li>
															</ul>
														</li>
														<!--3rd level over-->
														<!--3rd level-->
														<li class="dropdown-submenu"> <a href="#" class="submenu-title"> Web Cameras (0) </a> </li>
														<!--3rd level over-->
													</ul>
												</div>
												</div>
										</li>
										<li class="moremenu">
											<a href="#">
												<div class="menu-img pull-left"> <img src="images/product/img-5.jpg" alt="Cleaner"> </div>	Cereals</a>
										</li>
										<li class="moremenu">
											<a href="#">
												<div class="menu-img pull-left"> <img src="images/product/img-4.jpg" alt="Personal Care"> </div> Dairy Products</a>
										</li>
										<li class="moremenu">
											<a href="#">
												<div class="menu-img pull-left"> <img src="images/product/img-2.jpg" alt="Cooking Oil"> </div>Cooking Oil</a>
										</li>
										<li class="moremenu">
											<a href="#">
												<div class="menu-img pull-left"> <img src="images/product/img-3.jpg" alt="Staples"> </div>Staples</a>
										</li>
									</ul>
									</div>
							</nav>
							</div>
							</div>
							</div> 
							
							
<nav class="navbar navbar-expand-lg navbar-light py-3">
<div class="container-fluid">
<button class="navbar-toggler menu_toggle_btn" type="button" data-target="#navbarSupportedContent"><i class="uil uil-bars"></i></button>
<div class="collapse navbar-collapse d-flex flex-column flex-lg-row flex-xl-row justify-content-lg-end bg-dark1 p-3 p-lg-0 mt1-5 mt-lg-0 mobileMenu" id="navbarSupportedContent">
<ul class="navbar-nav main_nav align-self-stretch">
<li class="nav-item"><a href="index.html" class="nav-link active" title="Home">Home</a></li>
<li class="nav-item"><a href="about.html" class="nav-link" title="about">About</a></li>
<li class="nav-item"><a href="shop.html" class="nav-link new_item" title=" Products"> Products</a></li>
<li class="nav-item"><a href="shop.html" class="nav-link" title="Groceries">Groceries</a></li> 
<li class="nav-item"><a href="contact.html" class="nav-link" title="Contact">Contact Us</a></li>
</ul>
</div>
</div>
</nav>

<div class="header_right header_cart">
  <ul> 
  <li>
  <a href="my_wishlist.html" class="option_links" title="Wishlist"><i class='uil uil-heart icon_wishlist'></i><span class="noti_count1">3</span></a>
  </li>
  
  <li>
  <a href="my_wishlist.html" class="option_links cart__btn pull-bs-canvas-left" title="Wishlist"><i class='uil uil-shopping-cart-alt'></i><span class="noti_count1">3</span></a>
  </li> 
  </ul>
  </div>
 
<div class="search__icon order-1">
<a href="#" class="search__btn hover-btn" data-toggle="modal" data-target="#search_model" title="Search"><i class="uil uil-search"></i></a>
</div>
</div>
</div>
</header>


<div class="sign-inup">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-5">
<div class="sign-form">
<div class="sign-inner">
<div class="sign-logo" id="logo">
<a href="index.html"><img src="images/logo.svg" alt=""></a>
<a href="index.html"><img class="logo-inverse" src="images/dark-logo.svg" alt=""></a>
</div>
<div class="form-dt">
<div class="form-inpts checout-address-step">
<form>
<div class="form-title"><h6> Register </h6></div>
<div class="form-group pos_rel">
<input id="full[name]" name="fullname" type="text" placeholder="Full name" class="form-control lgn_input" required="">
<i class="uil uil-user-circle lgn_icon"></i>
</div>
<div class="form-group pos_rel">
<input id="email[address]" name="emailaddress" type="email" placeholder="Email Address" class="form-control lgn_input" required="">
<i class="uil uil-envelope lgn_icon"></i>
</div>
<div class="form-group pos_rel">
<input id="phone[number]" name="phone" type="text" placeholder="Phone Number" class="form-control lgn_input" required="">
<i class="uil uil-mobile-android-alt lgn_icon"></i>
</div>
<div class="form-group pos_rel">
<label class="control-label">Enter Code</label>
<ul class="code-alrt-inputs signup-code-list">
<li>
<input id="code[1]" name="number" type="text" placeholder="" class="form-control input-md" required="">
</li>
<li>
<input id="code[2]" name="number" type="text" placeholder="" class="form-control input-md" required="">
</li>
<li>
<input id="code[3]" name="number" type="text" placeholder="" class="form-control input-md" required="">
</li>
<li>
<input id="code[4]" name="number" type="text" placeholder="" class="form-control input-md" required="">
</li>
<li>
<a class="chck-btn hover-btn code-btn145" href="#">Send</a>
</li>
</ul>
<a href="#" class="resend-link">Resend Code</a>
</div>
<div class="form-group pos_rel">
<input id="password1" name="password1" type="password" placeholder="New Password" class="form-control lgn_input" required="">
<i class="uil uil-padlock lgn_icon"></i>
</div>
<button class="login-btn hover-btn" type="submit"> Register </button>
</form>
</div>
<div class="signup-link">
<p>I have an account? - <a href="login.html"> Login </a></p>
</div>
</div>
</div>
</div>
 
</div>
</div>
</div>
</div>

 <footer class="footer">
		<div class="footer-second-row">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="second-row-item">
							<h4>Categories</h4>
							<ul>
								<li><a href="shop.html">Fruits and Vegetables</a></li>
								<li><a href="shop.html">Grocery & Staples</a></li>
								<li><a href="shop.html">Dairy & Eggs</a></li>
								<li><a href="shop.html">Snacks</a></li>
								<li><a href="shop.html">Noodles & Sauces</a></li>
								<li><a href="shop.html">Meat & Seafood</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="second-row-item">
							<h4>Useful Links</h4>
							<ul>
								<li><a href="about.html">About US</a></li>
								<li><a href="shop.html"> Products</a></li>
								<li><a href="faq.html">Faq</a></li>
								<li><a href="privacy.html"> Privacy Policy</a></li>
								<li><a href="terms.html"> Terms & conditions</a></li>
								<li><a href="contact.html">Contact Us</a></li>
							</ul>
						</div>
					</div>
					 
					 <div class="col-lg-3 col-md-6 col-sm-6">
<div class="second-row-item-app">
<h4>Download App</h4>
<ul>
<li><a href="#"><img class="download-btn" src="images/download-1.svg" alt=""></a></li>
<li><a href="#"><img class="download-btn" src="images/download-2.svg" alt=""></a></li>
</ul>
</div>
 
 <div class="social-links-footer">
 <h4>Connect</h4>
<ul>
<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="#"><i class="fab fa-twitter"></i></a></li> 
<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
<li><a href="#"><i class="fab fa-instagram"></i></a></li>
<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
</ul>
</div>
 
</div>

					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="second-row-item-payment">
							<h4>Payment Method</h4>
							<div class="footer-payments">
								<ul id="paypal-gateway" class="financial-institutes">
									<li class="financial-institutes__logo"> <img alt="Visa" title="Visa" src="images/footer-icons/pyicon-6.svg"> </li>
									<li class="financial-institutes__logo"> <img alt="Visa" title="Visa" src="images/footer-icons/pyicon-1.svg"> </li>
									<li class="financial-institutes__logo"> <img alt="MasterCard" title="MasterCard" src="images/footer-icons/pyicon-2.svg"> </li>
									<li class="financial-institutes__logo"> <img alt="American Express" title="American Express" src="images/footer-icons/pyicon-3.svg"> </li>
									<li class="financial-institutes__logo"> <img alt="Discover" title="Discover" src="images/footer-icons/pyicon-4.svg"> </li>
								</ul>
							</div>
						</div>
						<div class="second-row-item-payment">
							<h4>Newsletter</h4>
							<div class="newsletter-input">
								<input id="email" name="email" type="text" placeholder="Email Address" class="form-control input-md" required="">
								<button class="newsletter-btn hover-btn" type="submit"><i class="uil uil-telegram-alt"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-last-row">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="copyright-text"> <i class="uil uil-copyright"></i>Copyright 2020 <b> Grocery 360 </b> . All rights reserved </div>
					</div>
				</div>
			</div>
		</div>
	</footer>


<script src="js/jquery-3.3.1.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/OwlCarousel/owl.carousel.js"></script>
<script src="vendor/semantic/semantic.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/offset_overlay.js"></script>

</body>
 
</html>